*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

html,
body {
	height: 100%;
}

body {
	transition: color 0.5s, background-color 0.5s;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
